* {
  box-sizing: border-box;
}

body {
  text-align: center;
  background-color: #011F3F;
}

footer {
  font-size: medium;
  color: #ffffff;
  margin: 20px;
}

#level-title,
#highscore {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin: 5%;
  color: #FEF2BF;
}

.container {
  display: flex; 
  flex-wrap: wrap; 
  justify-content: center; 
  align-items: center; 
  max-width: 800px;
  min-height: 50vh; 
  margin: auto;
  padding: 1rem; 
}
.row {
  display: flex; 
  justify-content: center; 
  width: 100%; 
}

.btn {
  margin: 1rem;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}


@media (max-width: 768px) {

  #level-title,
  #highscore {
    font-size: 1.5rem;
  }

  .btn {
    height: 100px;
    width: 100px;
  }
}

/* Media query for extra small devices (width up to 480px) */

@media (max-width: 480px) {

  #level-title,
  #highscore {
    font-size: 1.2rem;
  }

  .btn {
    height: 80px;
    width: 80px;
  }

  .container {
    width: 90%;
  }
}